<div class="container">
  <div class="row mt-3">
    <div class="col-md-3">
      <div class="list-group">
        <a
          routerLinkActive="active"
          routerLink="/admin"
          class="list-group-item list-group-item-action"
          aria-current="true"
        >
          Admin Portalı
        </a>
        <a
          routerLink="posts-list"
          class="list-group-item list-group-item-action"
          >Posts</a
        >

        <a
          routerLink="/admin/users-admin"
          class="list-group-item list-group-item-action"
          >Kullanıcı bilgileri</a
        >

        <a
          routerLink="/admin/ziyaretci-kontrol"
          class="list-group-item list-group-item-action"
          >Ziyaretçi Defteri'ni Yönet</a
        >

        <a routerLink="" class="list-group-item list-group-item-action"
          >Anasayfa'ya Dön</a
        >
      </div>
    </div>
  </div>
  <div class="col-md-9"><router-outlet></router-outlet></div>
</div>

<app-footer></app-footer>


