<table class="table table-striped">
    <tbody>
      <tr>
        <td>postId</td>
        <td>{{ postComment?.postId }}</td>
      </tr>
      <tr>
        <td>id</td>
        <td>{{ postComment?.id }}</td>
      </tr>
      <tr>
        <td>name</td>
        <td>{{ postComment?.name }}</td>
      </tr>
      <tr>
        <td>email</td>
        <td>{{ postComment?.email }}</td>
      </tr>
      <tr>
        <td>body</td>
        <td>{{ postComment?.body }}</td>
      </tr>
    </tbody>
  </table>